* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 99%;
}

/*Navbar css*/
.dropdown-menu-user {
  transform: translateX(-75%);
}

.navbar {
  border-bottom: 1px solid #e7e7e7;
}

/*Menu css*/
.menu {
  float: left;
  width: 15%;
  min-height: 905px;
  border-right: 0.5px solid #e7e7e7;
}

.bodyContent {
  float: left;
  width: 85%;
  padding: 10px;
  min-width: 905;
}
